{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="i58EfF2M1rIWrw2EvFRZNCV7krL5Dt6XpmZFx5mEIqw" />

<!-- Custom favicon icons -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/KAUST_Seeds_Color-96x96.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="192x192" href="{{ '/images/KAUST_Seeds_Color-192x192.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="512x512" href="{{ '/images/KAUST_Seeds_Color-512x512.png' | relative_url }}">
<link rel="icon" type="image/svg+xml" href="{{ '/images/KAUST_Seeds_Color.svg' | relative_url }}">
<link rel="shortcut icon" href="{{ '/images/KAUST_Seeds_Color.ico' | relative_url }}">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
